*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xmlq
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.cxx
local.properties
dev_diary.md
log.txt
/edit1.png:Zone.Identifier
/edit2.png:Zone.Identifier
/todo.txt
/kotlin_files_content_core-sources.txt
/kotlin_files_content_auth-sources.txt
/README.md
/edit1.pngZone.Identifier
/edit2.pngZone.Identifier
/dblog.txt
/dblog.txt
/about_clientID.md
/about_redirect.md
